*,html,body{
    margin: 0;
    padding: 0; 
}
html{
    position: relative;
}
body{
    background-image: url(../img/pattern.jpg);
}
header{
    width: 100%;
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;
}
.copyright h5{
    padding-top: 30px;
    color: white;
}
